@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");
body {
  font-family: "Inter", sans-serif;
}
.navbar-avata {
  border: 4px solid #fff;
  margin-top: 4px;
}
.sub-topnavbar {
  float: right;
  display: flex;
  border-radius: 0.375rem 28px 28px 0.375rem;
  cursor: "pointer";
  margin-right: 15px;
}
.title-top {
  font-size: 28px;
  margin-top: -8px;
  font-weight: 700;
  color: #0cb04a;
  /* color: #01087c; */
}
.contenContainer {
  width: auto;
  background-color: #fff;
  border-radius: 8px;
  padding: 30px;
}
.ant-layout-content {
  background-color: #fff;
  width: 85%;
  margin: 50px auto;
  border-radius: 8px;
  padding: 30px;
}
.ant-layout {
  background: #d7ecdf;
}
.delete-button {
  background-color: #fff1f1;
  /* padding: 8px; */
  /* width: 42%;
  height: 45%; */
  cursor: pointer;
  border-radius: 25px !important;
  border: none !important;
}
.delete-button:hover {
  background-color: #f3c9c9;
}
.ant-layout-sider,
.ant-menu-inline {
  background-color: #43c079 !important;
}
.ant-menu-submenu span {
  color: #fff !important;
  /* font-size: 20px !important; */
}
.ant-menu-item {
  color: rgb(255, 255, 255) !important;
  /* font-size: 20px; */
}
.ant-menu-item-selected {
  background-color: #136d47 !important;
}
/* .ant-menu-item-selected :hover {
  color: #136d47 !important;
} */
/* .ant-table-tbody > tr.ant-table-row:hover > td {
  background: #43c07942;
} */
.loginContainer {
  width: 650px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 10px !important;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  /* backdrop-filter: hsla(0, 0%, 100%, 0.6901960784313725); */
  background: hsla(0, 0%, 100%, 0.6901960784313725);
}
.loginContainer .ant-legacy-form {
  padding: 40px 40px;
}
.background_image {
  background-color: #43c079 !important;
  border-radius: 0px;
  color: #ffffff !important;
  border-radius: 8px 8px 0px 0px !important;
  padding: 20px 0px;
}

.login-form {
  padding: 40px;
}
loginContainer .login-form-forgot {
  position: relative;
  top: 10px;
  float: right;
}

.login-form-button {
  width: 200px !important;
  padding: 0px 50px;
  border-radius: 30px !important;
  height: 40px;
  background-color: green !important;
  border: none;
  text-transform: uppercase;
}

.loginContainer h2 {
  color: #ffffff !important;
  text-transform: uppercase;
  text-align: center;
}

.loginContainer a {
  color: #0f73ee !important;
}
.position_login {
  margin-top: 12px;
}
.submit-button {
  background-color: green;
  border: none;
  color: white;
  width: 150px;
}
.submit-button:hover {
  background-color: #43c079 !important;
  color: white;
}
ant-btn:hover,
.ant-btn:focus,
.ant-btn:active {
  text-decoration: none;
  color: white;
  background-color: #43c079 !important;
}
.input-style {
  border-radius: 10px;
  border: 1px solid #43c079;
}
.input-style:hover {
  border-color: #138143;
}
.edit-button {
  background-color: #e0f2e0;
  cursor: pointer;
  border-radius: 25px !important;
  border: none !important;
}
.edit-button:hover {
  background-color: #c9f8c9;
  /* border: 1px solid green !important; */
}
.widget-card {
  padding: 20px;
  background-color: #57d9a324;
  transition: all 0.5s ease-in-out;
  position: relative;
  /* border: 2px solid #249d57; */
  border-radius: 8px;
  /* box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important; */
}

.widget-card2 {
  padding: 20px;
  background-color: #fce8e8;
  transition: all 0.5s ease-in-out;
  position: relative;
  /* border: 3px solid #5f1717; */
  border-radius: 8px;
}
.widget-card3 {
  padding: 20px;
  background-color: #fdf3db;
  transition: all 0.5s ease-in-out;
  position: relative;
  /* border: 3px solid #5c4813; */
  border-radius: 8px;
}
.widget-card4 {
  padding: 20px;
  background-color: #d4e8fb;
  transition: all 0.5s ease-in-out;
  position: relative;
  /* border: 3px solid #12283a; */
  border-radius: 8px;
}
.background-image-widget {
  background: #57d9a3;
  padding: 25px;
  border-radius: 10px;
  font-size: 100px;
  color: rgb(241, 241, 241);
  /* height: 94px; */
}
.background-image-widget2 {
  background: #f15a5a;
  padding: 25px;
  border-radius: 10px;
  font-size: 100px;
  color: rgb(241, 241, 241);
}
.background-image-widget3 {
  background: #f8d175;
  padding: 25px;
  border-radius: 10px;
  font-size: 100px;
  color: rgb(241, 241, 241);
}
.background-image-widget4 {
  background: #4ea8f1;
  padding: 25px;
  border-radius: 10px;
  font-size: 100px;
  color: rgb(241, 241, 241);
}
.counter {
  color: #1b7371;
  font-size: 40px;
}
.counter2 {
  color: #c73636;
  font-size: 40px;
}
.counter3 {
  color: #bf972b;
  font-size: 40px;
}
.counter4 {
  color: #3a79ac;
  font-size: 40px;
}
.text-details {
  color: #114443;
}
.text-details2 {
  color: #5f1717;
}
.text-details3 {
  color: #5c4813;
}
.text-details4 {
  color: #12283a;
}
.login-input {
  border-radius: 10px;
  height: 50px;
}
.big-banner {
  /* background-image: url("/src/assets/backgroundva.jpg"); */
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  background-position: center;
  background-image: linear-gradient(
      0deg,
      rgba(20, 52, 73, 0.51),
      rgba(69, 145, 134, 0.479)
    ),
    url("/src/assets/backgroundva.jpg");
}
