@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  z-index: 1;
}

h1 {
  font-size: 3rem;
  color: #057630;
  text-align: center;
  margin: 0;
  font-weight: bolder;
}
h2 {
  color: #0cb04a;
  font-size: 1.7rem;
}
p {
  font-size: 1.2rem;
}
.App {
  background-image: linear-gradient(#ffffff, rgba(14, 109, 80, 0.212));
}
